.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background-color: var(--slack-color);
  color: white;
  min-width: 200px;
}
.header__search {
  position: relative;
}

.mui__menu__icon {
  padding-left: 20px;
}

.header__left {
  flex: 0.3;
  display: flex;
  align-items: center;
}
.header__left > .MuiSvgIcon-root {
  margin-left: auto;
}

.header__search > input {
  position: absolute;
  background-color: transparent;
  border: none;
  text-align: center;
  color: beige;
  min-width: 32.4vw;
  height: 30px;
}
.header__search > .MuiSvgIcon-root {
  font-size: 30px;
}

.header__right {
  flex: 0.3;
  display: flex;
  align-items: flex-end;
}
.header__right > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: 20px;
}
