.message {
  display: flex;
  padding-bottom: 20px;
  padding-left: 10px;
  position: relative;
  top: 20px;
}
.message > img {
  height: 30px;
  width: 30px;
  object-fit: contain;
}
.message__info {
  padding-left: 10px;
}
.message__timestamp {
  color: gray;
  font-weight: 300;
  font-size: 13px;
}
