.sidebarOption {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-left: 2px;
  cursor: pointer;
}
.sidebarOption:hover {
  background-color: #340e36;
  opacity: 0.9;
}
.sidebarOption__icon {
  font-size: 25px;
  margin-left: 5px;
}
.sidebarOption__channel {
  margin: 8px;
}
.sidebarOption__hash {
  padding: 10px;
}
.sidebarOption > h3 {
  font-weight: 400;
  margin: 8px;
}
